/* datos personales Pablo Valdés Fernández, UO282655*/

/* Especificidad: 001*/
article {
    display: flex;
    margin-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Especificidad: 002*/
article>h3 {
    width:100%;
    display: flex;
    justify-content: center;
}

/* Especificidad: 002*/
article>a {
    margin-right: 1em;
}

/* Especificidad: 011*/
section:first-of-type {
    height: 20em;
    width: 60vw;
    border: 0.2em solid black;
}

/* Especificidad: 012*/
section:first-of-type > p {
    margin-top: 0.1em
}

/* Especificidad: 001*/
input {
    padding-bottom: 2em;
}

/* Especificidad: 021*/
section:last-of-type[data-loaded] {
    height: 35vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    border: 0.2em solid black;
}

/* Especificidad: 012*/
section:last-of-type h4 {
    width: 100%;
}

/* Especificidad: 012*/
section:last-of-type > p {
    height: fit-content;
    padding-right: 1em;
    margin-right: 0.5em;
    border: 0.1em solid black;
}

/* Especificidad: 002*/
section > audio {
    height: 2em;
}

@media (max-width: 800px) {
    /* Especificidad: 011*/
    section:first-of-type {
        /* Redefinición de propiedad height */
        height: 25em;
    }
  }