/* datos personales Pablo Valdés Fernández, UO282655*/

/* Especificidad: 001*/
main {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 0;
    border-top: 0.15em solid black;
    border-bottom: 0.15em solid black;
    border-left: 0.15em solid black;
    border-right: 0.15em solid black;
}

/* Especificidad: 001*/
article {
    display: flex;
    margin-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Especificidad: 002*/
article>h3 {
    width:100%;
}

/* Especificidad: 002*/
article>a {
    margin-right: 1em;
}

/* Especificidad: 002*/
main > p {
    width: 100%;
    text-align: center;
    padding: 10% 0%;
    margin: 0%;
    border-top: 0.15em solid black;
    border-bottom: 0.15em solid black;
    border-left: 0.15em solid black;
    border-right: 0.15em solid black;
    font-size: 1.1em;
    font-weight: bold;
}

/* Especificidad: 012*/
main > p[data-state=empty] {
    /* El color se hereda del elemento body: #000000 */
    background-color: #0000FF;
}

/* Especificidad: 012*/
main > p[data-state=clicked] {
    /* El color se hereda del elemento body: #000000 */
    background-color: #0077FF;
}

/* Especificidad: 011*/
section[data-type=botonera] {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    visibility: hidden;
}

/* Especificidad: 012*/
section[data-type=botonera] h2 {
    width: 100%;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.1em;
}

/* Especificidad: 012*/
section[data-type=botonera] button {
    width: calc(15% - 1em);
    height: 4em;
    text-align: center;
    background-color: #000;
    color: #FFF;
}

/* Especificidad: 001*/
form {
    display: flex;
    flex-direction: column;
    width: 60vw;
}

/* Especificidad: 012*/
form > input[type="text"] {
    width: 20vw;
}

/* Especificidad: 012*/
form > input[type="submit"] {
    width: 10em;
    height: 2em;
    margin-top: 2em;
}

@media (max-width: 800px) {
    /* Especificidad: 011 */
    section[data-type=botonera] {
        /* Redefinición de propiedad visibility */
        visibility: visible;
    }
    
    /* Especificidad: 012*/
    form > input[type="text"] {
        /* Redefinición de propiedad width */
        width: 60vw;
    }
}