/* datos personales Pablo Valdés Fernández, UO282655*/

/* Especificidad: 001*/
section {
    display: flex;
    flex-wrap: wrap;
}

/* Especificidad: 002*/
section>h3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Especificidad: 001*/
article {
    width: 23.5%;
    height: 12.5vw;
    transform: scale(1);
    margin: 0.5%;
    transition: transform .5s;
    transform-style: preserve-3d;
}

/* Especificidad: 011*/
article[data-state] {
    transform: rotateY(180deg);
}

/* Especificidad: 002, 002*/
article h3,
article img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-color: #0000FF;
    backface-visibility: hidden;
}

/* Especificidad: 002*/
article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: #FFFFFF;
}

/* Especificidad: 002*/
article img {
    transform: rotateY(180deg);
}