/* datos personales Pablo Valdés Fernández, UO282655*/

/* Especificidad: 002*/
body>article {
    display: flex;
    margin-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Especificidad: 003*/
body>article>h3 {
    width:100%;
    display: flex;
    justify-content: center;
}

/* Especificidad: 003*/
body>article>a {
    margin-right: 1em;
}


/* Especificidad: 001*/
section {
    display: flex;
    flex-wrap: wrap;
}

/* Especificidad: 002*/
section>h3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Especificidad: 002*/
section article {
    width: 23.5%;
    height: 12.5vw;
    transform: scale(1);
    margin: 0.5%;
    transition: transform .5s;
    transform-style: preserve-3d;
}

/* Especificidad: 012*/
section article[data-state] {
    transform: rotateY(180deg);
}

/* Especificidad: 003, 003*/
section article h3,
section article img {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-color: #0000FF;
    color: #FFFFFF;
    backface-visibility: hidden;
}

/* Especificidad: 003*/
section article h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}

/* Especificidad: 003*/
section article img {
    transform: rotateY(180deg);
}