/* datos personales Pablo Valdés Fernández, UO282655*/

/* Especificidad: 001*/
article {
    border: 0.2em solid black;
    margin-top: 1em;
    margin-left: 0.5em;
    width: 50vw;
}

/* Especificidad: 002*/
article > h3 {
    margin-top: 0.5em;
    margin-bottom: 0em;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

/* Especificidad: 002*/
article > h4 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

/* Especificidad: 002*/
article > p {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

/* Especificidad: 012*/
article > p:last-child {
    font-style: italic;
}

/* Especificidad: 001*/
section {
    display: flex;
    flex-direction: column;
}

/* Especificidad: 002, 002, 001*/
section > label, section > input, button {
    margin-top: 1em;
}

/* Especificidad: 002*/
section > input {
    height: 2em;
    width: 50vw;
}