/* datos personales Pablo Valdés Fernández, UO282655*/

/* Especificidad: 021*/
section:first-of-type:empty {
    width: 0%; 
    height: 0%;
}

section:first-of-type {
    width: 75vw;
    height: 55vw;
}

/* Especificidad: 013 */
section>ul>li:nth-child(3) {
    /* El background-color se hereda del elemento body: #7EC8E3 */
    color: #000000;
    font-weight: normal;
}

/* Especificidad: 011*/
section:last-of-type {
    width: auto;
    display: grid;
    grid-template-columns: 100%;
}

svg {
    width: 50em;
    height: 30em;
}

text {
    color: #000000;
}

