/* datos personales Pablo Valdés Fernández, UO282655*/

/* Especificidad: 011*/
section:nth-of-type(2) {
    width: 75vw;
    height: 65vh;
    margin-bottom: 2em;
}

/* Especificidad: 012*/
section:nth-of-type(2) > h3 {
    margin-bottom: 0.2em;
}

/* Especificidad: 012*/
section:nth-of-type(2) > figure {
    height: 95%;
}

/* Especificidad: 013*/
section:nth-of-type(2) > figure > img {
    width: 100%;
    height: 100%;
}

/* Especificidad: 013 */
section>ul>li:nth-child(3) {
    /* El background-color se hereda del elemento body: #7EC8E3 */
    color: #000000;
    font-weight: normal;
}

/* Especificidad: 011*/
section:last-of-type {
    width: auto;
    display: grid;
    grid-template-columns: 100%;
}

/* Especificidad: 002*/
section:last-of-type > svg {
    width: 50em;
    height: 30em;
}

/* Especificidad: 001*/
text {
    /* El background-color se hereda del elemento body: #7EC8E3 */
    color: #000000;
}

/* Especificidad: 001*/
article {
    width: 100%;
    max-width: 100vh;
    height: 70vh;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    padding-bottom: 1em;
}

/* Especificidad: 002*/
article h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2em;
}

/* Especificidad: 002*/
article > img {
    width: 100vh;
    height: 60vh;
    position: absolute;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 0.5em;
}

/* Especificidad: 002*/
article > button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    /* El color se hereda del elemento body: #000000 */
    background-color: #FFFFFF;
    font-size: 1em;
  }

  /* Especificidad: 012*/
  article > button:active {
    transform: scale(1.1);
  }
  
  /* Especificidad: 012*/
  article > button[data-action=prev] {
    top: 50%;
    left: 2%;
  }
  
  /* Especificidad: 012*/
  article > button[data-action=next] {
    top: 50%;
    right: 2%;
  }

  /* Especificidad: 011*/
  section:nth-of-type(3) {
    width:75vw;
  }

  @media screen and (max-width: 800px) {
    /* Especificidad: 011*/
    section:nth-of-type(2) {
        /* Redefinición de propiedad width */
        width: 95vw;
        /* Redefinición de propiedad height */
        height: 65vh;
    }
  }