/* datos personales Pablo Valdés Fernández, UO282655*/

/* Especificidad: 011*/
section:first-of-type {
    width: 75vw;
}

section:first-of-type > div:not(:empty) {
    height: 45vw;
}

/* Especificidad: 013 */
section>ul>li:nth-child(3) {
    /* El background-color se hereda del elemento body: #7EC8E3 */
    color: #000000;
    font-weight: normal;
}

/* Especificidad: 011*/
section:last-of-type {
    width: auto;
    display: grid;
    grid-template-columns: 100%;
}

/* Especificidad: 001*/
svg {
    width: 50em;
    height: 30em;
}

/* Especificidad: 001*/
text {
    /* El background-color se hereda del elemento body: #7EC8E3 */
    color: #000000;
}

/* Especificidad: 001*/
article {
    width: 100%;
    max-width: 100vh;
    height: 70vh;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    padding-bottom: 1em;
}

/* Especificidad: 002*/
article h3 {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 2em;
}

/* Especificidad: 002*/
article > img {
    width: 100vh;
    height: 60vh;
    position: absolute;
    object-fit: cover;
    border-radius: 0.5em;
}

/* Especificidad: 012*/
article > img[data-visibility="hidden"] {
    visibility: hidden;
}

/* Especificidad: 002*/
article > button {
    position: absolute;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    /* El color se hereda del elemento body: #000000 */
    background-color: #FFFFFF;
    font-size: 1em;
  }

  /* Especificidad: 012*/
  article > button:active {
    transform: scale(1.1);
  }
  
  /* Especificidad: 012*/
  article > button[data-action=prev] {
    top: 50%;
    left: 2%;
  }
  
  /* Especificidad: 012*/
  article > button[data-action=next] {
    top: 50%;
    right: 2%;
  }